<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/crowbar_banner.png"
            id="pt.up.fe.pangolin.eclipse.ui.launchGroup"
            image="icons/crowbar.png"
            label="%launchGroup.label"
            mode="pt.up.fe.pangolin.eclipse.core.mode">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="pt.up.fe.pangolin.eclipse.ui.toolbarActionSet"
            label="%toolbarActionSet.label"
            visible="true">
         <action
               class="pt.up.fe.pangolin.eclipse.ui.actions.ToolbarAction"
               disabledIcon="icons/crowbar.png"
               hoverIcon="icons/crowbar.png"
               icon="icons/crowbar.png"
               id="pt.up.fe.pangolin.eclipse.ui.toolbarAction"
               label="%toolbarAction.label"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
               tooltip="%toolbarAction.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="pt.up.fe.pangolin.eclipse.ui.launching.LaunchShortcut:org.eclipse.jdt.junit.junitShortcut"
            icon="icons/junit_launch.gif"
            id="pt.up.fe.pangolin.eclipse.ui.launchShortcut.jdt_junit"
            label="%launchShortcut.jdt_junit.label"
            modes="pt.up.fe.pangolin.eclipse.core.mode">
         <contextualLaunch>
            <enablement>
               <test
                     args="org.eclipse.jdt.junit.junitShortcut"
                     forcePluginActivation="true"
                     property="pt.up.fe.pangolin.eclipse.ui.launchable">
               </test>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="pt.up.fe.pangolin.eclipse.ui.launching.LaunchShortcut:org.eclipse.jdt.debug.ui.localJavaShortcut"
            icon="icons/java_launch.gif"
            id="pt.up.fe.pangolin.eclipse.ui.launchShortcut.localJavaApplication"
            label="%launchShortcut.localJavaApplication.label"
            modes="pt.up.fe.pangolin.eclipse.core.mode">
         <contextualLaunch>
            <enablement>
               <test
                     args="org.eclipse.jdt.debug.ui.localJavaShortcut"
                     forcePluginActivation="true"
                     property="pt.up.fe.pangolin.eclipse.ui.launchable">
               </test>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
      point="org.eclipse.ui.popupMenus">
    <objectContribution
        adaptable="false"
        id="pt.up.fe.pangolin.eclipse.ui.objectContribution1"
        objectClass="java.lang.Object">
      <action
          class="pt.up.fe.pangolin.eclipse.ui.actions.ContextualMenuAction"
          enablesFor="+"
          id="pt.up.fe.pangolin.eclipse.ui.contextualAction"
          label="%contextualAction.label"
          style="pulldown">
      </action>
      <enablement>
        <test
            property="org.eclipse.debug.ui.launchable"
            value="pt.up.fe.pangolin.eclipse.core.mode">
        </test>
      </enablement>
    </objectContribution>
  </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="pt.up.fe.pangolin.eclipse.ui.actions.ContextualLaunchableTester"
            id="pt.up.fe.pangolin.eclipse.ui.propertyTester.contextualLaunchable"
            namespace="pt.up.fe.pangolin.eclipse.ui"
            properties="launchable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="pt.up.fe.pangolin.eclipse.ui.launching.LaunchConfigurationTabGroup"
            id="pt.up.fe.pangolin.eclipse.ui.junitTabGroup"
            type="org.eclipse.jdt.junit.launchconfig">
         <launchMode
               mode="pt.up.fe.pangolin.eclipse.core.mode">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="pt.up.fe.pangolin.eclipse.ui.launching.LaunchConfigurationTabGroup"
            id="pt.up.fe.pangolin.eclipse.ui.localJavaApplicationTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
         <launchMode
               mode="pt.up.fe.pangolin.eclipse.core.mode">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="pt.up.fe.pangolin.eclipse.ui.viewCategory"
            name="%viewCategory.label">
      </category>
      <view
            category="pt.up.fe.pangolin.eclipse.ui.viewCategory"
            class="pt.up.fe.pangolin.eclipse.ui.views.VisualizationView"
            icon="icons/crowbar.png"
            id="pt.up.fe.pangolin.eclipse.ui.visualizationView"
            name="%visualizationView.label"
            restorable="true">
      </view>
      <view
            category="pt.up.fe.pangolin.eclipse.ui.viewCategory"
            class="pt.up.fe.pangolin.eclipse.ui.views.TransactionView"
            icon="icons/crowbar.png"
            id="pt.up.fe.pangolin.eclipse.ui.transactionView"
            name="%transactionView.label"
            restorable="true">
      </view>
   </extension>
</plugin>
